/* CSS Responsivo */
@media (max-width: 868px) {
  .nav-bar,
  .nameBar {
    padding: 20px; /* Reduz o padding da nav-bar para telas menores */
    font-size: 14px;
    margin: 0; /* Diminui a fonte */
    padding: 2%;
  }
  .text-container h1 {
    font-size: 16px; /* Diminui o tamanho do título */
    width: 64%; /* Faz o título ocupar toda a largura */
    margin: 0 auto 40% auto; /* Ajusta a margem */
    text-align: center; /* Centraliza o texto */
  }
  .home {
    display: flex;

    flex-direction: column; /* Altera a direção do flex para coluna */
    align-items: center; /* Centraliza os itens */
  }
  .clickHere {
    margin-left: 50%;
    max-width: 30%; /* Aumenta a largura do botão em telas menores */
  }
  .aboutMe,
  #form {
    padding: 5%;
    width: 80%; /* Aumenta a largura para ocupar mais espaço */
    height: auto;
  }
  .card p {
    text-align: justify;
    hyphens: auto;
    line-height: 1.6;
  }

  .cardTecnologias {
    padding: 20px; /* Reduz o padding */
    width: 80%; /* Faz o card ocupar toda a largura */
    height: auto; /* Permite que a altura se ajuste automaticamente */
  }
  .projects,
  .skills,
  .certificates {
    padding: 40px 20px; /* Reduz o padding das seções */
  }

  .projects,
  .skills,
  .cardTecnologias,
  .card,
  .cardC,
  .certificates,
  p {
    font-size: 16px;
    color: #aaa;
  }
  .projects,
  .skills,
  .cardTecnologias,
  .card,
  .cardC,
  .certificates,
  h2 {
    font-size: 16px;
    color: #fdfdfd;
  }
  .projects,
  .skills,
  .cardTecnologias,
  .card,
  .cardC,
  .certificates,
  h3 {
    font-size: 16px;
    color: #c8f022;
  }
  .grid-projects,
  .grid-skills,
  .grid-certificates {
    grid-template-columns: repeat(
      auto-fit,
      minmax(280px, 1fr)
    ); /* Ajusta a grade para telas menores */
  }
}

@media (max-width: 480px) {
  .clickHere {
    margin-left: 60%;
    max-width: 30%; /* Aumenta a largura do botão em telas menores */
  }
  .nav-bar {
    font-size: 16px; /* Diminui ainda mais a fonte */
  }
  .text-container h1 {
    font-size: 16px; /* Diminui o tamanho do título */
    width: 75%; /* Faz o título ocupar toda a largura */
    margin: 0 auto 40% auto; /* Ajusta a margem */
    text-align: center; /* Centraliza o texto */
  }
  .btn,
  .pag1 {
    max-width: 80%; /* Aumenta a largura do botão */
  }
  textarea {
    height: 150px; /* Ajusta a altura do textarea */
  }

  #form {
    padding: 5%;
    width: 60%; /* Aumenta a largura para ocupar mais espaço */
    height: auto; /* Permite que a altura se ajuste automaticamente */
  }

  .aboutMe,
  p {
    width: 80%; /* Aumenta a largura para ocupar mais espaço */
    height: auto; /* Permite que a altura se ajuste automaticamente */
  }
  .grid-certificates {
      max-width: 50%; /* Ajusta a grade para telas menores */
  }
  .card p {
    text-align: justify;
    width: 100%; /* Faz o card ocupar toda a largura */
    hyphens: auto;
    line-height: 1.6;
  }

  .cardTecnologias {
    padding: 20px; /* Reduz o padding */
    width: 100%; /* Faz o card ocupar toda a largura */
    height: auto; /* Permite que a altura se ajuste automaticamente */
  }

  footer {
    font-size: 14px; /* Diminui a fonte do footer */
  }
}
