@import "tailwindcss";
* {
  font-family: "Inter", sans-serif;
}

:root {
  --radial: radial-gradient(
    circle at 0.9% 14%,
    rgb(2, 151, 184) 55%,
    rgba(193, 250, 255, 1) 78.1%
  );
  --textPrimary: rgb(2, 151, 184);
  --textSecond: #C1FAFF;

  --border: #2f3c50;
  --bg: #111824;
  --bg-Top: #161d2b;
}

.gradient-circle {
  background-image: var(--radial);
}

.text-primary{
  color: var(--textPrimary);
}
.text-second {
  color: var(--textSecond);
}

.bgAll {
  background-color: var(--bg);
}
.bgTop {
  background-color: var(--bg-Top);
}
.borderTop {
  border-bottom: 1px solid var(--border);
}
.borderAll {
  border: 1px solid var(--border);
}
